@page "/konto"
    @using BC = BCrypt.Net.BCrypt;
    @using Lista_obecności.Data
    @using Lista_obecności.DTO
    @inject IApplicationManager iApplicationManager
    @inject NavigationManager nawigationManager

    <body style=" background-image: linear-gradient(to bottom right, #05163d, #4B0082); padding:0 0 0 0; margin:0 0 0 0;">
        <main>
            <section>
                <div class="container">

                    <header>
                        <h1 style="
                        color: #007bff;
                        text-align: center;
                        font-family: Cambria;
                        text-shadow: 3px 3px 1px black;
                        letter-spacing: 3px;
                        ">
                            Lista obecności
                        </h1>
                    </header>

                    <br />
                    <br />

                    <div class="row">


                        <div class=" col-lg-9">

                            <EditForm Model="@users" style="background-color:transparent">
                                <DataAnnotationsValidator />


                                <div class="col-lg-4 offset-lg-2 justify-content-lg-end col-12 justify-content-center" style="display: inline-block; ">
                                    <label class="col-12" style="font:bold; text-align:center; letter-spacing: 1px; color: #007bff; font-family: Cambria;">Nazwa użytkownika:</label>
                                </div>
                                <div class="col-lg-5 justify-content-md-start col-12 col-sm-12 justify-content-center" style="display: inline-block; text-align:center; width:100%">
                                    &nbsp;<ValidationMessage For="@(()=>users.UserName)" style="text-align:left" />
                                    <InputText class="col-12 col-sm-9 col-md-9 col-lg-12" style="font: bold; text-align:center; font-family: Cambria; text-align: center; background-color: #4a5989; color: #007bff;" @bind-Value="users.UserName" placeholder="Nazwa użytkownika" />
                                </div>

                                <div class="col-lg-9">
                                    <br />
                                </div>


                                <div class="col-lg-4 offset-lg-2 justify-content-lg-end col-12 justify-content-center" style="display: inline-block; ">
                                    <label class="col-12" style="text-align: center; font: bold; letter-spacing: 1px; font-family: Cambria; color: #007bff">Hasło:</label>
                                </div>
                                <div class="col-lg-5 justify-content-md-start col-12 col-sm-12 justify-content-center" style="display: inline-block; text-align:center; width:100%">
                                    &nbsp;<ValidationMessage For="@(()=>users.PasswordHash)" style="text-align:left" />
                                    <span class="text-danger">@PasswordError</span>
                                    <InputText class="col-12 col-sm-9 col-md-9 col-lg-12" style="font: bold; font-family: Cambria; text-align: center; background-color: #4a5989; color: #007bff" type="password" @bind-Value="sPassword1" placeholder="Hasło" text-allign="center" />
                                </div>

                                <div class="col-lg-9">
                                    <br />
                                </div>


                                <div class="col-lg-4 offset-lg-2 justify-content-lg-end col-12 justify-content-center" style="display: inline-block; ">
                                    <label class="col-12" style="text-align: center; font:bold; letter-spacing: 1px; color: #007bff; font-family: Cambria;">Powtórz hasło:</label>
                                </div>
                                <div class="col-lg-5 justify-content-md-start col-12 col-sm-12 justify-content-center" style="display: inline-block; text-align:center; width:100%">
                                    &nbsp;<ValidationMessage For="@(()=>users.PasswordHash)" style="text-align:left" />
                                    <span class="text-danger">@PasswordError</span>
                                    <InputText class="col-12 col-sm-9 col-md-9 col-lg-12" style="font:bold; font-family: Cambria; text-align: center; background-color: #4a5989; color: #007bff" type="password" @bind-Value="sPassword2" placeholder="Powtórz hasło" />
                                </div>

                                <div class="col-lg-9">
                                    <br />
                                </div>


                                <div class="col-lg-4 offset-lg-2 justify-content-lg-end col-12 justify-content-center" style="display: inline-block; ">
                                    <label class="col-12" style="text-align: center; font:bold; letter-spacing: 1px; font-family: Cambria; color: #007bff">Adres email:</label>
                                </div>
                                <div class="col-lg-5 justify-content-md-start col-12 col-sm-12 justify-content-center" style="display: inline-block; text-align:center; width:100%">
                                    &nbsp;<ValidationMessage For="@(()=>users.Email)" style="text-align:left" />
                                    <InputText class="col-12 col-sm-9 col-md-9 col-lg-12" TextMode="Email" style="font: bold; font-family: Cambria; text-align: center; background-color: #4a5989; color: #007bff" @bind-Value="users.Email" placeholder="Adres email" text-allign="center" />
                                </div>

                                <div class="col-lg-9">
                                    <br />
                                </div>


                                <div class="col-lg-4 offset-lg-2 justify-content-lg-end col-12 justify-content-center" style="display: inline-block; ">
                                    <label class="col-12" style="text-align: center; font: bold; letter-spacing: 1px; font-family: Cambria; color: #007bff">Data urodzenia:</label>
                                </div>
                                <div class="col-lg-5 justify-content-md-start col-12 col-sm-12 justify-content-center" style="display: inline-block; text-align:center; width:100%">
                                    &nbsp;<ValidationMessage For="@(()=>users.sBirthdayDate)" style="text-align:left" />
                                    <InputText class="col-12 col-sm-9 col-md-9 col-lg-12" TextMode="date used" style="font: bold; font-family: Cambria; text-align: center; background-color: #4a5989; color: #007bff" @bind-Value="users.sBirthdayDate" placeholder="Data urodzenia (DD.MM.RRRR)" text-allign="center" />
                                </div>

                                <div class="col-lg-9">
                                    <br />
                                </div>
                                <div class="col-lg-9">
                                    <br />
                                </div>

                                <div class="col-md-9">
                                    <input @onclick="CreateAccount" type="submit" style="letter-spacing: 1px; font-family: Cambria;" class="form-control col-md-6 btn btn-outline-primary offset-md-6" value="Utwórz konto" />
                                </div>


                            </EditForm>
                        </div>

                        <div class=col-lg-3>
                            <img src="/Images/Ludek2.png" asp-append-version="true" width="300" align="left" />
                        </div>

                        <div class="col-md-6 offset-6" style="display: flex; justify-content:flex-end">
                            <p><label style="font:bold; font-family: Cambria; color: #007bff " allign="right">Autor: Michał Manios</label></p>
                        </div>
                        <div class="col-md-6 offset-6" style="display: flex; justify-content:flex-end">
                            <p><label style="font:bold; letter-spacing: 1px; font-family: Cambria; color: #007bff " allign="right">Wersja: 1.0</label></p>
                        </div>

                    </div>
                </div>
            </section>
        </main>
    </body>



    @code {

        public UsersDTO users = new UsersDTO();
        string sPassword1 = "";
        string sPassword2 = "";
        string PasswordError = "";
        void CreateAccount()
        {
            if (users != null)
            {
                if (sPassword1 == sPassword2)
                {
                    users.PasswordHash = BC.HashPassword(sPassword1);
                    iApplicationManager.AddNewUser(users);
                    nawigationManager.NavigateTo("/");
                }
                else
                {
                    PasswordError = "Oba pola muszą zawierać takie samo hasło!!!";
                }
            }
        }
    }
